{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ animal.especie }}</h1>
            <dl>
                <dt>ID</dt>
                <dd>{{ animal.id }}</dd>

                <dt>Sexo</dt>
                <dd>{{ animal.sexo }}</dd>

                <dt>Data de Nascimento</dt>
                <dd>{{ animal.data_nascimento|date:'d/m/Y' }}</dd>

                <dt>Preço</dt>
                <dd>R${{ animal.preco }}</dd>

                <dt>Descrição</dt>
                <dd>{{ animal.descricao }}</dd>
            </dl>
        </div>
        </div>

        {% if user.is_authenticated %}
            <a href="{{ animal.get_absolute_url }}"><button type="text" class="btn btn-secondary">Atualizar</button></a>
        {% endif %}
    </div>
{% endblock %}