{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ cliente.nome }} {{ cliente.sobrenome }}</h1>
            <dl>
                <dt>ID</dt>
                <dd>{{ cliente.id }}</dd>

                {% if user.is_authenticated %}
                    <dt>CPF</dt>
                    <dd>{{ cliente.cpf }}</dd>
                {% endif %}

                <dt>Endereço</dt>
                <dd>{{ cliente.endereco }}</dd>

                <dt>Telefone</dt>
                <dd>{{ cliente.telefone }}</dd>

                <dt>E-mail</dt>
                <dd>{{ cliente.email }}</dd>
            </dl>
        </div>
        </div>

        {% if user.is_authenticated %}
            <a href="{{ cliente.get_absolute_url }}"><button type="text" class="btn btn-secondary">Atualizar</button></a>
        {% endif %}
    </div>
{% endblock %}