html, body {
    height: 100%;
}

.banner {
    background-image: url("../images/pet.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 5% 0 0;
    text-align: center;
}

.banner h1 {
    color:rgb(54,54,54);
    background: rgb(255,255,250);
    margin: auto;
    font-weight: bold;
    /* font-size: 60px; */
    font-size: 350%;
}
.banner h2 {
    color: white;
    font-weight: bold;
    /* font-size: 30px; */
    font-size: 200%;
    padding-bottom: 5%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: none;
    margin-top: 50%;
    color: rgb(220,220,220);
    font-size: 22px;
}

