

{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            {% if user.is_authenticated %}
                <a href="{% url 'inserir-funcionario' %}"><button type="text" class="btn btn-info" style="margin-top: 3%;">Novo Cadastro</button></a>
            {% endif %}
            <h1 class="mt-5">Funcionários</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Cargo</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                        {% if funcionario.mostrar %}
                            <tr>
                                <td>
                                    <a href="{% url 'detalhe_funcionario' funcionario.id %}">{{ funcionario.id }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'detalhe_funcionario' funcionario.id %}">{{ funcionario.nome }}</a>
                                </td>
                                <td>{{ funcionario.sobrenome }}</td>
                                <td>{{ funcionario.cargo }}</td>
                                <td>{{ funcionario.email }}</td>
                                {% if user.is_authenticated %}
                                    <form action="{{ funcionario.get_delete_url }}" method="post"> {% csrf_token %}
                                        <td><button type="submit" class="btn btn-secondary">Excluir</button></td>
                                    </form>
                                {% endif %}                     
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% for pagina in funcionarios.paginator.page_range %}
                    {% if funcionarios.number == pagina %}
                        <li class="page-item active">
                            <a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
              </nav>
        </div>
        </div>
    </div>
  {% endblock %}